{% extends '_layouts/index.html.twig' %}
{% block content %}
<!-- <div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
			<h2><i class="icon-list-alt"></i>{{ lang('reportunits') }}</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
        <div class="box-content">
            <div id="unitsreport" style="height:300px"></div>
        </div>
    </div>
</div> -->
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
			<h2><i class="icon-list-alt"></i>{{ lang('reportunits') }}</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
        <div class="box-content">
            <div id="roomtypesreport" style="min-height:300px"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block jscode %}
{{ js('jquery.flot.labeled.js') }}
<script type="text/javascript">
$().ready(function(){

	var loadp=false;
	function paint_gauges(){
    	var unitstotal = [];
    	var unitsbusy = [];
    	var unitlabels = [];
    	var rooms=[];
    	$('#roomtypesreport').empty();
    	{% for key,unit in data %}
            unitstotal.push([{{ key }}, parseInt({{ unit.rooms }})]);
            unitsbusy.push([{{ key }}, parseInt({{ unit.busy }})]);
            if($('#roomtypesreport').find('.unit_{{ key }}').length==0){
            	$('#roomtypesreport').append('<div class="span12 unit_{{ key }}" style="margin-left:0px;min-height:280px;"><h2 style="text-align: center;">{{ unit.name }}<hr></h2><div class="content"></div><hr/>');
            }
    	    {% for keyr,roomtype in unit.roomtypes %}
                rooms['{{ keyr }}']=[{label:'{{ lang('report_busy')}}',data:parseInt({{ roomtype.busy }})},{label:'{{ lang('report_free')}}',data:parseInt({{ roomtype.total }})-parseInt({{ roomtype.busy }})}]
                if($('#roomtypesreport').children('.unit_{{ key }}').children('.content').children('.room_{{ keyr }}').length==0){
                	$('#roomtypesreport').children('.unit_{{ key }}').children('.content').append('<div class="span4 room_{{ keyr }}" style="min-width: 472px;"><h4 style="text-align: center;">{{ roomt[keyr] }}<hr></h4><div class="graph" style="min-height:280px;"></div></div>');
                }
                $.plot($('#roomtypesreport').children('.unit_{{ key }}').children('.content').children('.room_{{ keyr }}').children('.graph'), rooms['{{ keyr }}'],
            		{
            			series: {
            					pie: {
            							show: true
            					}
            			},
            			grid: {
            					hoverable: true,
            					clickable: true
            			},
            			legend: {
            				show: false
            			}
            		});
            {% endfor %}
    	{% endfor %}
	}
	$('#roomtypesreport').resize($.wait(paint_gauges,2));
	paint_gauges();
});
</script>
{% endblock %}