{% macro menu(items,class,vertical) %}
    <ul class="nav {{ class }} {% if vertical %}nav-stacked {% endif %}">
    {% for item in items %}
        {% if item.options %}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ lang(item.label) }} <b class="caret"></b></a>
            {{ _self.dropdown_menu(items.options,vertical) }}
            </li>
        {% else %}
            <li id="menu_{{ item.label|replace({'/':'_'}) }}"><a class="ajax-link" href="{{ site_url(item.url) }}">{% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}<span class="hidden-tablet"> {{ lang(item.label) }}</span></a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

{% macro dropdown_menu(items,submenu) %}
    <ul class="dropdown-{% if submenu %}sub{% endif %}menu">
        {% for item in items %}
            {% if item.options %}
                <li class="dropdown-submenu">
                <a href="#">{{ item.label }} <b class="caret"></b></a>
                {{ _self.dropdown_menu(items.options,true) }}
                </li>
            {% else %}
                <li id="menu_{{ item.label|replace({'/':'_'}) }}"><a class="ajax-link" href="{{ site_url(item.url) }}">{% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}<span class="hidden-tablet"> {{ lang(item.label) }}</span></a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro tilemenu(items) %}
    <div class="row-fluid">
        {% for item in items %}
            <div>
            {% if items.options %}
                <h4>{{ lang(item.label) }}</h4>
                {{ _self.tilemenu(items.options) }}
            {% else %}
                <a class="well span3 top-block bigicons" href="{{ site_url(item.url) }}" id="menu_{{ item.label|replace({'/':'_'}) }}">
                    {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
        			<div>{{ lang(item.label) }}</div>
        		</a>
            {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}